<!-- page content -->
<div class="right_col" role="main">

    {% if is_granted('ROLE_SUPER_ADMIN') %}

        <!-- top tiles -->
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>شركة خدمات تطبيقات الواب و البرمجيات</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="image ">
                                <img src="{{ asset('build/images/web.jpg')}}" style="height: 215px" alt="Profile Image"  >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}



    {% if is_granted('ROLE_ENTREPRISE') %}

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>المطعم المدرسي</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                                <div class="image ">
                                   <img src="{{ asset('build/images/background.jpg')}}" style="height: 215px" alt="Profile Image"  >
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>
<!-- /page content -->

