<!-- footer content -->
<footer class="hidden-print">

    <div class="pull-right text-center">
        <h4><a href="http://diptunisie.com/" data-color="blue" >Société DIP (Développement Informatique Progiciels )</a></h4> |    عدد 15 شارع قرطاج منوبة 2010
                 |    الهاتف:  70.604.684
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
