<!-- footer content -->
<footer class="hidden-print">
<div class="col-md-3">
</div>
    <div class="col-md-6">
        
    <div class="pull-right text-center">
        <h4><a href="http://diptunisie.com/" data-color="blue" >
        Société DIP (Développement Informatique Progiciels )</a></h4> 
          <p>العنوان: عدد 15 شارع قرطاج منوبة 2010 </p> 
              <p> |الهاتف:  98.524.931/92.194.810/93.888.823 </p>  
    </div>

    </div>
    <div class="col-md-3">
        <img src="{{ asset('build/images/logo.png')}}" style="height: 100px" alt="logo dip"  >
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
