<!-- footer content -->
<footer class="hidden-print">
<div class="col-md-3">
</div>
    <div class="col-md-6">
        
    <div class="pull-right text-center">
        <h4><a href="http://diptunisie.com/" data-color="blue" >
       <u> Société DIP (Développement Informatique Progiciels )</u></a></h4>
          <p><b>العنوان:</b>رقم C9 الطابق الأرضي عمارة D11  إقامة منى, العقبة كم 5 تونس </p>

              <p> <b>الهاتف:</b>  98.524.931/92.194.810/93.888.923 </p>
    </div>

    </div>
    <div class="col-md-3">
        <img src="{{ asset('build/images/logo.png')}}" style="height: 100px" alt="logo dip"  >
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
