
<div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-3">
    <form method="post" action="{{ path('nb_meal_delete', {'id': nbMeal.id}) }}" onsubmit="return confirm('هل انت متأكد انك ترغب في حذف هذا العنصر؟');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nbMeal.id) }}">
        <button class="btn btn-danger"><i class="fa fa-trash " style="margin-left: 2rem"></i>{{  "Delete" | trans }}</button>
    </form>
</div>
