{% extends 'base.html.twig' %}

{% block title %}Edit LinePurchase{% endblock %}

{% block body %}
    <h1>Edit LinePurchase</h1>

    {{ include('line_purchase/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('line_purchase_index') }}">back to list</a>

    {{ include('line_purchase/_delete_form.html.twig') }}
{% endblock %}
