{% extends 'base.html.twig' %}


{% block title %}تسجيل الدخول{% endblock %}
{% block body_class %} class="error500" {% endblock %}

{% block body %}
<div>
    <div class="login_wrapper">
            <div class="animate form login_form" style="color: transparent; ">
                <section class="login_content">
                    <form method="post">
                        <h1> خطأ 500</h1>
                        <div>
                                <div class="alert alert-danger">هناك مشكلة في السرفر !</div>

                            <h4> بامكانك الرجوع للصفحة الرئيسية </h4>
                        </div>
                            <a href="{{ path('institution_show') }}" class="btn btn-default " ><i class="fa fa-forward" style="margin-left: 2rem"></i>{{ "retour"|trans }}</a>


                        <div class="clearfix"></div>

                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>©2020 كل الحقوق محفوظة</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}