{#
{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            Send mail !
        </button>

    </form>
{% endblock %}#}
{% extends 'base.html.twig' %}

{% block title %}تسجيل الدخول{% endblock %}
{% block body_class %} class="login" {% endblock %}
{% block body %}
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <a class="hiddenanchor" id="reset"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" style="color: #0000cc;">
                <section class="login_content">
                  <form method="post">
                        <h1 class="h3 mb-3 font-weight-normal">تغيير كلمة العبور</h1>
                        <label for="inputEmail" class="sr-only">البريد الإلكتروني</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="البريد الإلكتروني" required autofocus>
                        <button class="btn btn-lg btn-default" type="submit"><i class="fa fa-send" style="margin: 2px;"></i>    ارســال!</button>
                    </form>
                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <p> ©2019  كل الحقوق محفوظة</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
