{#
{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{{ token }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    </form>

{% endblock %}
#}

{% extends 'base.html.twig' %}

{% block title %}تسجيل الدخول{% endblock %}
{% block body_class %} class="login" {% endblock %}
{% block body %}
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <a class="hiddenanchor" id="reset"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" style="color: #0000cc;">
                <section class="login_content">
                    <form method="post">
                        <h1 class="h3 mb-3 font-weight-normal">إعادة تعيين كلمة المرور</h1>
                        <label for="inputPassword" class="sr-only">كلمة المرور</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="البريد الإلكتروني" required >
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="btn btn-lg btn-default" type="submit"><i class="fa fa-save" style="margin: 2px;"></i> تسجيل!</button>
                    </form>
                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <p> ©2019  كل الحقوق محفوظة</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}